<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <%- include('./navbar-header.ejs') -%>
    <%- include('./navbar-right.ejs') -%>
    <%- include('./navbar-default.ejs') -%>
</nav>