<% 
filterStatusHelper = (statusFilter, keyword) => {  
    let xhtml = '';
    statusFilter.forEach(item => {
        let link = systemConfig.prefixAdmin + '/items/' + item.value;
        if (keyword !== '' & keyword !== undefined) link+= '?keyword=' + keyword;
        xhtml+= `<a class="btn m-b-sm btn-${item.class} btn-sm" href='${link}'> 
                ${item.name.toUpperCase()} (${item.count})
                </a> `;
    })
    return `
        <div class="status-list col-sm-6 pl0">
            ${xhtml}
        </div>
    `;
} 
%>