<%
    paginationHelper = () => {
        return `
            <div class="col-lg-12">
            <div class="panel panel-info" id="pagination">
                <div class="panel-heading">
                    Pagination123111
                    <span>^</span>
                    <span class="label label-warning">Total pages: 0</span>
                    <span class="label label-danger">Total entries: 0</span>
                </div>
                <div class="panel-body">
                    <div class="infor-pagination">

                        <p>Number of elements on the page: <span>0</span></p>

                        <p>Showing <span> 0 </span> to <span>0</span> of <span>0</span> entries</p>
                    </div>
                    <div class="ad-pagination">
                        <ul class="pagination text-center">
                            <li class="disabled"><a>«</a></li>
                            <li><a href="admin22/items/page=">1</a></li>
                            <li class="active"><a>2</a></li>
                            <li><a href="admin22/items/page=">3</a></li>

                            <li><a href="admin22/items/page=">4</a></li>

                            <li><a href="admin22/items/page=">5</a></li>

                            <li><a href="admin22/items/page=">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            `
    }
%>