<%
    paginationHelper = (pagination, type, currentStatus, keyword) => {
    let totalItems = pagination.totalItems;
    let totalItemsPerPage = pagination.totalItemsPerPage;
    let currentPage = pagination.currentPage;
    let pageRanges = pagination.pageRanges;
    let totalPages = Math.ceil(totalItems/totalItemsPerPage);
    let to = currentPage*totalItemsPerPage;
    let from = to - totalItemsPerPage + 1;
    if(to>totalItems) to = totalItems;

    let xhtmlPagination = '', xhtmlStart = '', xhtmlPrevious = '', xhtmlPage = '', xhtmlNext = '', xhtmlEnd = '';
    let link = systemConfig.prefixAdmin + '/' + type + '/' + currentStatus;
    if (keyword !== '') link+= '?keyword=' + keyword + '&page=';
    else link += '?page=';

    if (currentPage > 1) {
        xhtmlStart = `<li><a href='${link}1'>Start</a></li>`;
        xhtmlPrevious = `<li><a href='${link}${currentPage - 1}'>Previous</a></li>`;
    }
    if (currentPage < totalPages) {
        xhtmlNext = `<li><a href='${link}${currentPage + 1}'>Next</a></li>`;
        xhtmlEnd = `<li><a href='${link}${totalPages}'>End</a></li>`;
    }

    let middle = Math.ceil(pageRanges / 2);
    let min = currentPage - middle + 1;
    if (min < 1) min = 1;
    let max = min + pageRanges - 1;
    if (max > totalPages) max = totalPages;
    if (min > max - pageRanges + 1) min = (max - pageRanges + 1) < 1 ? 1 : (max - pageRanges + 1);

    for (let i = min; i <= max; i++) {
        if (i === currentPage) {
            xhtmlPage+=`<li class="active"><a>${i}</a></li>`
        }else {
            xhtmlPage+=`<li><a href='${link}${i}'>${i}</a></li>`
        }
    }


    xhtmlPagination = xhtmlStart + xhtmlPrevious + xhtmlPage + xhtmlNext + xhtmlEnd;



        return `
            <div class="col-lg-12">
            <div class="panel panel-info" id="pagination">
                <div class="panel-heading">
                    Pagination
                    <span>^</span>
                    <span class="label label-warning">Total pages: ${totalPages}</span>
                    <span class="label label-danger">Total entries: ${totalItems}</span>
                </div>
                <div class="panel-body">
                    <div class="infor-pagination">

                        <p>Number of entries on the page: <span>${totalItemsPerPage}</span></p>

                        <p>Showing <span> ${from} </span> to <span>${to}</span> of <span>${totalItems}</span> entries</p>
                    </div>
                    <div class="ad-pagination">
                        <ul class="pagination text-center">
                            ${xhtmlPagination}
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            `
    }
%>