<% 
statusHelper = (collection, status, id) => { 
    let link        = systemConfig.prefixAdmin + '/' + collection + '/change-status/'+ id + '/' + status;
    let xhtmlStatus = '';
    if (status === 'active') {
        xhtmlStatus = '<span class="label label-success">active</span>';
    }else if (status === 'inactive') {
        xhtmlStatus = '<span class="label label-warning">inactive</span>';
    }

    return `
        <a href=${link}> ${xhtmlStatus} </a>
    `;
} 
%>
