<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Form
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6">

						<div class="alert alert-danger" role="alert">
							<ul>

								<li>Name: không được rỗng</li>

								<li>Status: chọn một trạng thái</li>

							</ul>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<form role="form" action="admin123/item/save/" method="POST">
							<div class="form-group">
								<label>Name</label>
								<input class="form-control" name="name" value="">
							</div>

							<div class="form-group">
								<label>Ordering</label>
								<input class="form-control" type="number" name="ordering" value="0">
							</div>

							<div class="form-group">
								<label>Status</label>
								<select name="status" class="form-control">
									<option value="novalue">Choose Status</option>
									<option value="active">Active</option>
									<option value="inactive">Inactive</option>
								</select>

							</div>

							<!-- <div class="form-group">
                                <label>Content</label>
                                <textarea class="form-control" name="content" rows="2"  id="content_ck" ></textarea>
                            </div> -->

							<input class="form-control" name="id" value="" type="hidden">

							<button type="submit" class="btn btn-primary">Submit </button>
							<a type="button" href="admin123/item/" class="btn btn-default">Cancel</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>